
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
/*_______________________________________________________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    --corPrimaria: #017143;
    --corSecundaria: #333;
    --corTerciaria: #fff;
}
/*_______________________________________________________________*/
/*Main*/
main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corTerciaria);  
}
/*_______________________________________________________________*/
/*header*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.logo {
    position: relative;
    max-width: 80px;
}
header .logo:hover{
    filter: invert(0.1);
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block; /* Garante que o link fique em Linha */
    color: var(--corSecundaria);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px;
    margin-left: 40px;
}
header ul li a:hover {
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    border-radius: 5px;
}
/*_______________________________________________________________*/
.conteudo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteudo .textoPrincipal {
    position: relative;
    max-width: 600px; /* Largura area de texto */

}
.conteudo .textoPrincipal h2 {
    color: var(--corSecundaria);
    font-size: 2.5em; /* 1em = 1* tamanho fonte elemento (16px) */
    line-height: 1.5em; /* Espaçamento vertical */
    font-weight: 600;
}
.conteudo .textoPrincipal h2 span{
    color: var(--corPrimaria);
    font-size: 1.2em;
    font-weight: 900;
}

.conteudo .textoPrincipal p {
    color: var(--corSecundaria);
}

.conteudo .textoPrincipal a {
   display: inline-block;
   margin-top: 20px;
   padding: 8px 20px;
   background: var(--corPrimaria);
   color: var(--corTerciaria);
   border-radius: 40px;
   font-weight: 500;
   letter-spacing: 1px;
    text-decoration: none;
}
.conteudo .textoPrincipal a:hover {
    background: var(--corSecundaria)
}
.conteudo .img1 {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
  }
  .sorvetes {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%); /* Compensa o ajuste centralizado */
    display: flex;
  }
  .sorvetes li{
    list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer; /* Transforma o cursor em uma mão */
  transition: 0.5s; /* Tempo de transição */
  }
  .sorvetes li:hover {
    transform: translateY(-15px); /* movimenta 15 no eixo y */
  }
  .sorvetes li img {
    max-width: 60px;
  }
  .sci {
    position: relative;
    top: 50px;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sci li {
    list-style: none;
  }
  .sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
  }
  .sci li a:hover {
    color: var(--corSecundaria);
    filter: invert(0);
  }
  /*__________________________________________*/
  .circulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--corPrimaria);
      /* https://bennettfeely.com/clippy/ */
  /* https://www.w3schools.com/cssref/css3_pr_clip-path.php */

  /* Tamanho -> Lado -> posição*/
  clip-path: circle(600px at right 800px);
  }
  @media (max-width: 992px) {
    header {
      padding: 20px;
    }
    header.logo {
      max-width: 60px; /* Era 80px agora vira 60px(reduz) */
    }
    header ul {
      display: none; /* Esconde o menu abaixo de 992px */
    }
    /* Menu hamburguer */
    .toggle {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
      background: url(assets/menu.png);
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(1);
      z-index: 11;
    }
    
    .toggle.active{
      position: fixed;
      right: 20px;
      background: url(assets/close.png); /* Imagem do X (fechar) */
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
    }
      /* Menu hambuerguer ativado (forma a lista) */
    header ul.links.ative{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #f2f2f2;
      z-index: 10;
    }
    header ul li a {
      font-size: 1.5em;
      margin: 5px 0;
  
    }
    /* Conteudo */
    main {
      padding: 20px 20px 120px;
    }
    .conteudo {
      flex-direction: column; /* Joga o conteudo em coluna  */
      margin-top: 100px;
    }
    .conteudo .textoPrincipal h2 {
      font-size: 2.5em;
      margin-bottom: 15px;
    }
    .conteudo.textoPrincipal {
      max-width: 100%;
    }
    .conteudo .imgBox {
      max-width: 300px;
    }
    .thumb li img {
      max-width: 40px;
    }
    .circulo {
      clip-path: circle(400px at center bottom);
    }
    .sci {
      background: var(--corPrimaria);
      right: 0;
      width: 50px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
